@page "/empresas/detalles/{id:int}"

@using LarrussoWorksBlazor.Data.Models
@using LarrussoWorksBlazor.Data
@inject HttpClient http
@using System.Net.Http
@using System.Net.Http.Json

<div class="container">
    <h1>Detalles de la Empresa con el Id: @empresa.IdEmpresa</h1>

    <div class="col-md-9">
        <div class="card text-white bg-dark mb-3 text-center" style="margin: 10px;">
            <div class="card-header">
                <strong>@empresa.NivelEmpresa: @empresa.NombreEmpresa</strong>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <img src="/img/EmpresaImg/@empresa.LogoEmpresa" width="350" />
                </div>
                <br />
                <div class="col-12">
                    <span><strong>Descripción: </strong>@empresa.DescripcionEmpresa</span>
                </div>
                <br />
                <div class="col-12">
                    <span><strong>Ubicación: </strong> @empresa.UbicacionEmpresa</span>
                </div>
                <br />
                <div class="col-12">
                    <span><strong>Teléfono: </strong>@empresa.TelefonoEmpresa</span>
                </div>
                <br />
                <div class="col-12">
                    <span><strong>Correo: </strong>@empresa.CorreoEmpresa</span>
                </div>
            </div>
            <div class="card-footer">
                @if (atn.Nivel != "Administrador")
                {
                    <span class="text-center">
                        <a class="btn btn-primary" href="/empresas">Regresar</a>
                    </span>
                }
                else
                {
                    <span class="text-center">
                        <a href="/empresas/update/@empresa.IdEmpresa" class="btn btn-warning" title="Editar">Editar</a>
                    </span>

                    <span class="text-center">
                        <a class="btn btn-primary" href="/empresas">Regresar</a>
                    </span>

                }

            </div>
        </div>
    </div>
</div>


@code {

    Autenticacion atn = new Autenticacion();
    [Parameter]

    public int id { get; set; }

    Empresa empresa = new Empresa();

    protected override async Task OnInitializedAsync()
    {
        empresa = await http.GetFromJsonAsync<Empresa>($"api/Empresa/{id}");
        atn = IsDataNull.CreateInstanceIfIsNull<Autenticacion>(await LocalStorage.GetValue<Autenticacion>(ValuesKeys.Persona));
    }
}